body{
  text-align: center;
  background-image: url("Pics/background.jpg");
  background-size:cover;
  background-position: center;
}

.form{
  align-content: center;
  display: inline-block;
  border: 5px double #0c0202;
  margin: 200px;
  padding: 30px;
  padding-top: 0px;
  background-image: url("Backgroud.jpg");
  background-color: #87363670;
  width: 300px;
  height: 350px;

}

button{
  cursor: pointer;
}

input{
  margin-bottom: 5px;
}

.f-pass{
  margin: 10px;
  float:initial;
}

.login{
  margin: 10px;
  background-color: #860e0e;
  color: aliceblue;
  cursor: pointer;
}

.facebook, .instagram, .google{
  width: 40px;
  height: 40px;
  margin: 5px;
}


.l-with{
  border: 1px double black;
}


